/* Code used as a template was borrowed from the Code Institute Data Centric Design Mini Project by Tim Nelson at https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+DCP101+2017_T3/courseware/9e2f12f5584e48acb3c29e9b0d7cc4fe/054c3813e82e4195b5a4d8cd8a99ebaa/ with his final Github commit at https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching */ 

body {
    background: url('../images/medical-center.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nav-wrapper {
    margin-bottom: 90px;
}

.hide-on-med-and-down {
    padding-right: 20px;
}

.row {
    margin-top: -20px;
    margin-bottom: -20px;
}

.grey.lighten-5 {
    background-color: #fafafae0 !important;
}

.card-panel {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
}

a.brand-logo {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
}

.container {
    max-width: fit-content;
    min-width: 75%;
    width: auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.flashes h4 {
    line-height: 2;
}

.light-blue.lighten-4 {
    background-color: #2a75ffce !important;
}

.btn-small {
    margin: 5px;
}

.collapsible {
   background-color: rgba(255, 255, 255, 0.9); 
   margin-top: 20px;
}

.collapsible-body {
    text-align: center;
}

.collapsible-header {
    border-width: 20px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 10px;
}   

.center-align {
    font-size: x-large;
    padding-bottom: 10px;
    
    background-color: rgba(255, 255, 255, 0.2);
}

.input-field {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.sidenav {
    background-color: rgba(255, 255, 255, 0.9);
}

.btn-small-blue {
    position: fixed;
}