
body {
    background: url('../images/medical-center.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #920101;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nav-wrapper {
    margin-bottom: 90px;
}

.hide-on-med-and-down {
    padding-right: 20px;
}

.row {
    margin-top: -20px;
    margin-bottom: -20px;
}

.row .col {
    
}

.card-panel {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0px;
}

a.brand-logo {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
}

.container {
    max-width: fit-content;
    min-width: 75%;
    width: auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.flashes h4 {
    line-height: 2;
}

.light-blue.lighten-4 {
    background-color: #b82500ce !important;
}

.btn-small {
    margin: 5px;
}

.collapsible {
   background-color: rgba(255, 255, 255, 0.9); 
   margin-top: 20px;
}

.collapsible-body {
    text-align: center;
}

.collapsible-header {
    border-width: 20px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 10px;
}   

.center-align {
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.input-field {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.sidenav {
    background-color: rgba(255, 255, 255, 0.9);
}